@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #010204;
  color: #90fa66;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: #000;
  border: 3px #69bcf3 solid;
  border-radius: 10px;
  padding: 30px;
  max-width: 1000px;
  text-align: center;
}

.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.code {
  background-color: inherit;
  color: inherit;
  border-radius: 5px;
  font-size: 75px;
  height: 120px;
  width: 100px;
  border: 1px solid #f83030;
  margin: 1%;
  text-align: center;
  font-weight: 300;
 
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.code:valid {
  border-color: rgb(113, 229, 250);
  box-shadow: 0 10px 10px -5px rgba(255, 255, 255, 0.25);
}

.code:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.info {
  background-color: #141414;
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: #90fa66;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .code-container {
    flex-wrap: wrap;
  }

  .code {
    font-size: 60px;
    height: 80px;
    max-width: 70px;
  }
}
